.Paedo {
    margin-top: 100px;
    display: flex;

    .article {
        top: 70px;
        display: flex;
        flex-direction: column;
        background-color: yellow;
        width: 50%;
        justify-content: center;
        margin: auto;

        padding-left: 10px;
        padding-right: 10px;

        h1 {
            font-size: xx-large;
        }

        p {
            font-size: x-large;
        }
    }
}

@media only screen and (max-width: 550px) {
    .article {
        margin-top: 0px !important;
        width: 100% !important;
    }
}
