.ArticleBox {
    display: flex;
    margin-top: 100px;

    .Article {
        top: 70px;
        display: flex;
        flex-direction: column;
        background-color: rgba(110, 110, 110, 0.288);
        width: 50%;
        justify-content: center;
        margin: auto;

        padding-left: 20px;
        padding-right: 20px;

        h1 {
            font-size: xx-large;
        }

        h2 {
            margin: auto;
            margin-left: 0;
            font-size: x-large;
        }

        p {
            font-size: x-large;
        }

        .date {
            font-size: small;
            font-weight: bold;
            list-style-type: none;
        }
    }
}

@media (prefers-color-scheme: dark) {
    .ArticleBox {
        background-color: rgb(17, 18, 26);    
        .Article {
            color: rgb(233, 233, 233);
            background-color: rgb(43, 45, 63);

        }
    }
}

@media only screen and (max-width: 550px) {
    .article {
        margin-top: 0px !important;
        width: 100% !important;
    }
}
