.TopBar{
    display: flex;

    flex-direction: row;

    justify-content: space-between;

    position: fixed;
    top: 0;
    
    .left{

        flex: 0.8;

        justify-content: flex-end;

        padding-left: 25px;

        left: 0;

        display: flex;

        flex-direction: row;

        img {
            cursor: pointer;
        }

        .text {
            display: flex;

            flex-direction: column;

            margin: auto;

            h3{
                margin: auto;
                padding-left: 25px;
                flex: 0.5;
                margin-left: 0;
            }
    
            p {
                flex: 0.5;
                margin: auto;
                padding-left: 25px;
                font-size: medium;
                width: 5vw;
            }
        }
    }

    .right{
        flex: 0.2;
    }
}